apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql
  namespace: expense
data:
  MYSQL_DATABASE: "transactions"
---
apiVersion: v1
kind: Secret
metadata:
  name: mysql
  namespace: expense
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: RXhwZW5zZUFwcEAx
  MYSQL_USER: ZXhwZW5zZQ==
  MYSQL_PASSWORD: RXhwZW5zZUFwcEAx
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: expense
  labels: 
    app: mysql
    project: expense
    tier: db
spec:
  replicas: 1
  selector:
    matchLabels: # these labels are used to find the pods
      app: mysql
      project: expense
      tier: db
  template:
    metadata:
      labels: # these labels are pod labels
        app: mysql
        project: expense
        tier: db
    spec:
      containers:
      - name: mysql
        image: mutthu2512/mysql:e1
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: mysql
        - secretRef:
            name: mysql
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: expense
spec:
  selector:
    app: mysql
    project: expense
    tier: db
  ports:
  - protocol: TCP
    port: 3306 #service-port
    targetPort: 3306 #container-port